<form action="/search" method="POST">
     <label for="start_time">Start Time: </label>
    <input type="time" name="start_time" id="start_time" min="00:00" max="23:59" required><br>
     <label for="end_time">End Time:</label>
    <input type="time" name="end_time" id="end_time" min="00:00" max="23:59" required>
    <button type="submit">Submit</button>
</form>