<form action="/search" method="POST">
     <label for="start_time">Start Time: </label>
    <input type="time" name="start_time" id="start_time" min="00:00" max="23:59" required><br>
     <label for="end_time">End Time:</label>
    <input type="time" name="end_time" id="end_time" min="00:00" max="23:59" required><br>
    <select name = "week" id="week">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
    </select>
    <br>
    <button type="submit">Submit</button>
</form>